/* ---------------------------
   Nav 1.0
   --------------------------- */
:root{
	--vw-nav-justify: center; /* centrar nav */
}
@media (min-width: 768px) {  /* md */
	:root{
		--vw-nav-justify: flex-end; /* alinear nav a la derecha */
	}
}

/* Contenedor del menú */
.nav {
  width: 100%;
  align-self: end
}

/* Lista en horizontal */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 1rem;      /* Espacio entre items */
  align-items: center;
  justify-content: var(--vw-nav-justify, space-between);
}

/* Enlaces */
.nav-list a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.4rem 0.6rem;
  margin-bottom: .3rem;
  border-radius: 0.3rem;
  
  display: inline-block;
  color: #222;
  background: transparent;
  transition: background .2s, color .2s;
}

/* Hover */
.nav-list a:hover {
  background: #e0e0e0;
  text-decoration: none;
}